
#gameBoard {
	position: relative;
	display:inline-block;
	width: 841px;
	top: -335px;
	padding-top:20px;
}
#bg {
	display:none;
	position:absolute;
	display:inline-block;	
}
#movingParts {
	position: absolute;
	display:inline-block;
	z-index: 10;	
}

#tree {
	top:0px;
	position: relative;
	display:inline-block;
	width: 178px;	
	height: 340px;
}
.sequence , .ancestor {
	height:32px;
	width:32px;
	position:absolute;
	display:inline-block;
	border:1px solid #383838;
	z-index: 11;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
}

.row {
	left:20px;
	width: 827px;
	position:relative;
	height:34px;
}

.bgCell {
	position:absolute;
	height: 32px;
	width: 32px;
	background-color: white;
	display:inline-block;
	border: 1px black solid;
	opacity:0.2;
}
.bgRow {
	position:relative;
	display:inline-block;
	margin 0px;
	padding: 0px;
	width:841px;
	height:34px;
}

.nuc-A {
	background-color:#71B2E2; 
}
.nuc-G {
	background-color: #9932CC;
}
.nuc-C {
	background-color: #008000;
}
.nuc-T {
	background-color: #FFA500;
}

.red-line {
	display:none;
	background-color: #EF4136;
	width:100%;
	top:12px;
	height:10px;
	position: absolute;
	position:10;
}
#dump {
	color:#DDD;
}

.ancestorImg {
	width: 32px;
	height: 32px;
	position: absolute;
	display:inline-block;
	float:left;
	right:0px;
	z-index:2;
}
.nodeImg {
	width: 20px;
	height: 20px;
	background-color: #DDD;
	position:absolute;
	display:inline-block;
	z-index:2;
}
.nodeImg:hover {
	background-color: #EF4136; 
}
.hLine, .vLine {
	background-color:#DDD;	
	position:absolute;
	z-index:1;
}
.hLine {
	height:2px;
}
.vLine {
	width: 2px;
}

#scoreDraw {
	left: 183px;
	position:relative;
	width:800px;
}

#userDraw {
	background-color:#DDD;
	height:40px;
	width:0px;
	left:100px;
	position:relative;
	z-index:2;
}

#parDraw {
	background-color:red;
	height:42px;
	width:2px;
	position:absolute;
	top:0px;
	z-index:3;
}
#scoreLine {
	background-color:#DDD;
	width:841px;
	height: 1px;
}
#base0 {
	background-color:#DDD;
	width:2px;
	height:40px;
	position:absolute;
	left:283px;
	z-index:3;
}
.hidden {
	visibility : hidden;
}
.blocked {
	opacity: 0.3;
}
#ancestorSeq {
	position:absolute;
	top:381px;
	left:182px;
	display:none;
	width:841px;
	height:34px;
}
#splash {
	position: absolute;
	top: 200px;
	z-index: 11;	
	color: #EF4136;
	left: 400px;
	font-size:100px;
}
#bottomPanel {
	width:1024px;
	position:relative;
	display:inline-block;
	padding-top:10px;
	padding-bottom:20px;
}
#bottomPanel div{
	display:inline-block;
}
#statsPanel {
	left:280px;
	max-width:534px;
	color:white;
	position:relative;
	top: 6px
}
.gap {
	padding-left:20px;
}

#cycle img {
	width: 33px;
	height:33px;
}
#controlPanel {
/*	width: 33px;
		*/
	height:66px;
	float:right;
	position: relative;
	right:10px;
}

#scorePanel {
	float:right;
	right:20px;
	position:relative;
	top:6px;
}

#scorePanel div {
	display:block;
}

#runaway {
	color:white;
	font-size: 28px;
	top:6px;
	position:relative;
	left:200px;
}
#runaway:hover {
	color:red;
}

#volumePanel img {
	width: 33px;
}
#volumePanel {
	width: 33px;
	position:relative;
	left: 180px;
}
#cycle:hover {
	opacity: 1;
}
#cycle {
	opacity: 0.4;
}
#star {
	opacity: 0.4;
}
#star img{
	width: 40px !important;
}
#timerPanel {
	display:none !important;
	position:relative;
	float:right;
	right:10px;
	top:3px;
}
/*end game */
#endGame-new, #endGame-replay {
	margin-top:20px;
	display:inline-block;
}	
#endGame-new {
	margin-right:50px;
}
#endGame {
	display:none;
	position:absolute;
	top:0px;	
	background-color: black;
	z-index: 20;
	width:100%;
	height:100%;
}

#endGame-bg {
	text-align:center;
}

#endGame-learnMore-tag {
	cursor : pointer; 
}

#endGame-content {
	color: #333;
	position:relative;
	top:20px;
	background-color: #D3D3D3;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height: 400px;
	width:900px;
	border:5px solid #DDD;
	padding: 5px 10px;
}
#endGame-content div {
	line-height:30px;
}
#endGame-score-tag {
	font-size:30px;
	font-weight:bold;
}
#endGame-score-result {
	padding:15px 0px;
}
#endGame-score-result i {
	font-size: 50px;
	padding:0 15px;
}
#endGame-text {
	font-size:30px;
}
#endGame-learnMore-content {
	border:1px solid #333;
	line-height:14px !important;
}

#endGame-learnMore-content label {
	display:inline;
	margin-bottom:0;
	color: red;
}

#countDown {
	position:absolute;
	top:0px;
	z-index:19;
	text-align:center;
	width:100%;
	height:100%;
	background-color:black;
}
#countDown-text {
	text-align:left;
	display:inline-block;
	margin-left:auto;
	margin-right: auto;
	color: #EF4136;
	position:relative;
	top:200px;
	font-size:70px;
	z-index: 20;
}	

#selectBox {
	display:none;
	border:2px solid orange;
	background-color:#EF4136;
	opacity:0.7;
	position:absolute;
	z-index:90;
}

#chosenArea {
	display:none;
	position:absolute;
	border:2px solid orange;
	background-color:#EF4136;
	opacity:0.7;
	z-index:200;
}

#endGame-learnMore-content {
	display:none;
}

/* css for score */
#score {
	position:relative;
	display:block;
	left:182px;
}
/* end of score */
/*highlighting */

.highlighter {
	opacity: 0.7;
	box-shadow: inset 0 0 10px #000;
	-webkit-box-shadow: inset 0 0 10px #000;
	-moz-box-shadow: inset 0 0 10px #000;
	-ms-box-shadow: inset 0 0 10px #000;
	-khtml-box-shadow: inset 0 0 10px #000;
	-o-box-shadow: inset 0 0 10px #000;
		
}
/* end of highligher */
