.addPointer {
	cursor: pointer;
}	

#gameBoard {
	position: relative;
	display:inline-block;
	color: #6D6D6D;
	width: 841px;
	top: -335px;
	padding-top:20px;
}
#bg {
	display:none;
	position:absolute;
	display:inline-block;	
	line-height:normal;
}
#movingParts {
	position: absolute;
	display:inline-block;
	z-index: 10;	
}

#movingParts .current .sequence {
	cursor: pointer;
}

#tree {
	top:8px;
	position: relative;
	display:inline-block;
	width: 178px;	
	height: 340px;
}

.ancestor {
	height: 15px;
}
.sequence {
	height:29px;
}
.sequence:hover {
	box-shadow: 0px 0px 10px red;
	-webkit-box-shadow: 0px 0px 10px red;
	-moz-box-shadow: 0px 0px 10px red;
	-ms-box-shadow: 0px 0px 10px red;
	-o-box-shadow: 0px 0px 10px red;
	-khtml-box-shadow: 0px 0px 10px red;
}
.sequence , .ancestor {
	width:29px;
	position:absolute;
	display:inline-block;
	border:0px solid #383838;
	z-index: 11;
	margin-top: 2px;
	margin-left: 1px;
}

.boardRow {
	width: 824px;
	position:relative;
	height:34px;
}

.bgCell {
	position:absolute;
	height: 30px;
	width: 30px;
	background-color: white;
	display:inline-block;
	border-top: 1px #6D6D6D solid;
	border-right: 1px #6D6D6D solid;
	margin-left:1px;
}
.bgRow {
	position:relative;
	display:inline-block;
	margin 0px;
	padding: 0px;
	width:841px;
	height:31px;
}

.nuc-A {
	background-color:#039948; 
}
.nuc-G {
	background-color: #71b2e2;
}
.nuc-C {
	background-color: #84449a;
}
.nuc-T {
	background-color: #f17b22;
}

.red-line {
	display:none;
	background-color: #EF4136;
	width:100%;
	top:12px;
	height:10px;
	position: absolute;
	position:10;
}
#dump {
	color:#DDD;
}

.ancestorImg {
	width: 32px;
	height: 32px;
	position: absolute;
	display:inline-block;
	float:left;
	right:0px;
	z-index:2;
}
.nodeImg {
	cursor: pointer;
	width: 20px;
	height: 20px;
	background-color: #6D6D6D;
	position:absolute;
	display:inline-block;
	z-index:2;
}
.nodeImg:hover {
	background-color: black; 
}
.hLine, .vLine {
	background-color:#6D6D6D;	
	position:absolute;
	z-index:1;
}
.hLine {
	height:2px;
}
.vLine {
	width: 2px;
}

#scoreDraw {
	left: 183px;
	position:relative;
	width:800px;
}

#userDraw {
	background-color:#DDD;
	height:40px;
	width:0px;
	left:100px;
	position:relative;
	z-index:2;
}

#parDraw {
	background-color:red;
	height:42px;
	width:2px;
	position:absolute;
	top:0px;
	z-index:3;
}
#scoreLine {
	background-color:#DDD;
	width:841px;
	height: 1px;
}
#base0 {
	background-color:#DDD;
	width:2px;
	height:40px;
	position:absolute;
	left:283px;
	z-index:3;
}
.hidden {
	visibility : hidden;
}
.blocked {
	opacity: 0.3;
}
#ancestorSeq-filling {
	position:relative;
	height:15px;
}

#ancestorSeq {
	position:relative;
	left:182px;
	display:none;
	width:841px;
	height:34px;
}
#splash {
	position: absolute;
	top: 200px;
	z-index: 11;	
	color: #EF4136;
	left: 400px;
	font-size:100px;
}
#bottomPanel {
	width:1024px;
	position:relative;
	display:inline-block;
	height:80px;
}
#bottomPanel div{
	display:inline-block;
}
#statsPanel {
	left:280px;
	max-width:534px;
	color:#6D6D6D;
	position:relative;
	top:15px;
}
.gap {
	padding-left:15px;
}

#cycle img {
	cursor:pointer;
	width: 33px;
	height:33px;
	cursor: pointer;
}
#controlPanel {
	height:66px;
	position: relative;
	left:350px;
	top:10px;
}

#scorePanel {
	float:right;
	right:20px;
	position:relative;
	top:6px;
}

#scorePanel div {
	display:block;
}

#runaway {
	cursor: pointer;
	color:#6D6D6D;
	font-size: 28px;
	position:relative;
	left:200px;
	top:15px;
	margin-left:10px;
	cursor: pointer;
}
#runaway:hover {
	color: black;
}

/*
#volumePanel img {
	width: 33px;
}
*/
#volumePanel i {
	cursor: pointer;
	color : #6D6D6D;
	font-size:33px;
	cursor: pointer;
}
#volumePanel i:hover {
	color: black;
}
#volumePanel {
	position:relative;
	left: 180px;
	top:15px;
}
#cycle:hover {
	opacity: 1;
}
#cycle {
	opacity: 0.4;
	cursor: pointer;
}
#star {
	position:relative;
	top:2px;
	opacity: 0.4;
	cursor: default;
}
#star i {
	color:#CDCD00;
	width: 35px !important;
	font-size:40px;
}
#star.pass i {
	cursor: pointer;
}
#timerPanel {
	display:none !important;
	position:relative;
	float:right;
	right:10px;
	top:3px;
}
/*end game */
#endGame-new, #endGame-replay, #endGame-share {
	margin-top:20px;
	display:inline-block;
}	
#endGame-new {
}
#endGame {
	display:none;
	position:absolute;
	top:0px;	
	background-color: black;
	z-index: 20;
	width:100%;
	height:100%;
}

#endGame-bg {
	text-align:center;
}

#endGame-learnMore-tag {
	cursor : pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

#endGame-content {
	color: #333;
	position:relative;
	top:20px;
	background-color: #D3D3D3;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height: 400px;
	width:900px;
	border:5px solid #DDD;
	padding: 5px 10px;
}
#endGame-content div {
	line-height:30px;
}
#endGame-score-tag {
	font-size:30px;
	font-weight:bold;
}
#endGame-score-result {
	padding:15px 0px;
}
#endGame-score-result i {
	font-size: 50px;
	padding:0 15px;
}
#endGame-text {
	font-size:30px;
}
#endGame-learnMore-content {
	border:1px solid #333;
	line-height:14px !important;
}

#endGame-learnMore-content label {
	display:inline;
	margin-bottom:0;
	color: red;
}

#countDown {
	position:absolute;
	top:0px;
	z-index:19;
	text-align:center;
	width:100%;
	height:100%;
	background-color:#3D3D3D;
	box-shadow:0 6px 6px -6px #CCC;
	-webkit-box-shadow: 0 6px 6px -6px #CCC;
	-moz-box-shadow: 0 6px 6px -6px #CCC;
	-ms-box-shadow: 0 6px 6px -6px #CCC;
	-o-box-shadow: 0 6px 6px -6px #CCC;
	-khtml-box-shaodw: 0 6px 6px -6px #CCC;
}
#countDown-text {
	text-align:left;
	display:inline-block;
	margin-left:auto;
	margin-right: auto;
	color: #EF4136;
	position:relative;
	top:200px;
	font-size:70px;
	z-index: 20;
	line-height:normal;
}	

#selectBox {
	display:none;
	border:2px solid orange;
	background-color:#EF4136;
	opacity:0.7;
	position:absolute;
	z-index:90;
}

#chosenArea {
	cursor: pointer;
	display:none;
	position:absolute;
	border:2px solid orange;
	background-color:#EF4136;
	opacity:0.7;
	z-index:200;
}

#endGame-learnMore-content {
	display:none;
}

/* css for score */
#score {
	position:relative;
	display:block;
	left:182px;
}
/* end of score */
/*highlighting */

.highlighter {
	box-shadow: inset 0px 0px -4px white;
	-ms-box-shadow: inset 0px 0px -4px white;
	-moz-box-shadow: inset 0px 0px -4px white;
	-webkit-box-shadow: inset 0px 0px -4px white;
	-o-box-shadow: inset 0px 0px -4px white;
	-khtml-box-shadow: inset 0px 0px -4px white;
}
/* end of highligher */
