@media 
@font-face {
    font-family: 'helveticathin';
    src: url('../fonts/helveticaneueltstd-th-helv.eot');
    src: url('../fonts/helveticaneueltstd-th-helv.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-th-helv.woff') format('woff'),
         url('../fonts/helveticaneueltstd-th-helv.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-th-helv.svg#HelveticaNeueLTStd35Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

a:link, a:visited, a:active {
	text-decoration: none;
	/* color:#333; */
}

html, body {
	min-height:100%;
}

body {
	/*background-color:#F1F1F1;
	*/
	/*background: #f4f4f4 url(../img/background.png);
	*/
	background-color: #ebebeb;
	font-family: 'helveticathin', Helvetica, Arial, sans-serif;
	color:black;
	/* background-color: #1C1C1C; */
	padding:0px;
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	min-width:1024px;
}
/*disables tablet */
	.tablet-property {
		display:none;
	}
	
	.beta {
		display:none;
	}
	#tabletPanel {
		display:none;	
	}
	.tablet-grid {
		display:none;
	}
	#tabletSettingUp {
		display:none;
	}

/* disables the game */
#level_inputbox {
	display:none;
	position:relative;
	top:-300px;
	font-size:25px;
	z-index:5;
	border:1px solid #6D6D6D;
	color:#6D6D6D;
}	


.beta2 {
	font-size:13px;
	line-height:0px;
	top:10px;
	position:relative;
	text-align:right;
	right:10px;
}

#draw {
	box-shadow: 0 6px 6px -6px #CCC;
	-webkit-box-shadow: 0 6px 6px -6px #CCC;
	-moz-box-shadow: 0 6px 6px -6px #CCC;
	-o-box-shadow: 0 6px 6px -6px #CCC;
	-ms-box-shadow: 0 6px 6px -6px #CCC;
	-khtml-box-shadow: 0 6px 6px -6px #CCC;
/*	background-color: #efefef;
	*/
	background-color:white;
	/*background: linear-gradient(-28deg, black 0%, #3D3D3D 95%);
	background: -o-linear-gradient(-28deg, black 0%, #3D3D3D 95%);
	background: -ms-linear-gradient(-28deg, black 0%, #3D3D3D 95%);
	background: -moz-linear-gradient(-28deg, black 0%, #3D3D3D 95%);
	background: -khtml-linear-gradient(-28deg, black 0%, #3D3D3D 95%);
	background: -webkit-linear-gradient(-28deg, black 0%, #3D3D3D 95%);
	*/
}

/* theme controller css */
/* for now hidden for production */
.tag-music {
	display:none;
}
/* end of hidden */
a.btn {
	font-weight:bold;
}
.customize {
	display:none;
	position:absolute;
}
.customize div {
	opacity:1.0 !important;
}
.customize-music {
	display:none;
}
.customize.customize-bg {
	display:none;
	background-color:black;
	position:absolute;
	opacity:0.8;
	z-index:99;
}
.customize.customize-wrapper {
	top:100px;
	z-index:201;
	text-align:center;
	width:700px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}
.customize .customize-title {
	font-size:50px;
	margin-bottom:5px;
	text-align:left;
}
.customize .customize-theme .row {
	width:300px;
}
.customize .customize-tab .span2 {
	color:white;
	background-color:#333;
	font-size:20px;
	padding: 5px 10px;
}

.customize .customize-theme.row .span4 {
	left:100px;
	position:relative;
}

.customize .customize-theme.row .span5 {
	left:80px;
	position:relative;
}

.customize .customize-theme .span4, .customize .customize-theme .span5 {
	height:300px;
}
.colorCell {
	background-color: white;
	opacity:0.2 !important;
}
.colorpad {
	height:300px;
}
.colorCell {
	height:32px;
	width:32px;
	border:1px black solid;
}

.customize-dnaColor .row div{
	display:inline-block;
	text-align:center;
	font-size: 20px;
}
.customize-dnaColor .customize-title, .customize-boardColor .customize-title {
	color: black !important;
	font-size: 20px;
}

.customize .customize-title {
	line-height:normal;
	color:whitesmoke;
}
.customize-boardColor {
	margin-top:20px;
	margin-bottom:20px;
}

.customize-theme-onpick {
	border:2px red solid !important;
}

.colorA {
	background-color: #71B2E2;
}

.colorG {
	background-color: #9932CC;
}

.colorC {
	background-color: #008000;
}

.colorT {
	background-color: #FFA500;
}
.customize .customize-body{
	text-align:left;
	background-color:whitesmoke;	
	border:1px #ccc solid;
	min-height:300px;
}
.customize-tab-onselect, .customize-tab a:hover {
	background-color: whitesmoke !important; 
	color:black !important;
}

.customize .customize-buttons {
	color:white;
	margin-top:10px;
}

/* end of theme controller css */

#game {
	box-shadow: 0 6px 6px -6px #CCC;
	-webkit-box-shadow: 0 6px 6px -6px #CCC;
	-moz-box-shadow: 0 6px 6px -6px #CCC;
	-o-box-shadow: 0 6px 6px -6px #CCC;
	-ms-box-shadow: 0 6px 6px -6px #CCC;
	-khtml-box-shadow: 0 6px 6px -6px #CCC;
	margin-bottom:10px;
	display:none;
	width:1024px;
	margin-left:auto;
	margin-right:auto;
	min-width:1024px;
	text-align:left;
	position:relative;
	/* transparent background */
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255) transparent;
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FAFAFA, endColorstr=#FAFAFA);
	*/
	/* For IE 8*/
	/*
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FAFAFA, endColorstr=#FAFAFA)";
	*/
	/*border:1px solid #ADADAD;
	*/
	background-color:white;
	top:0px;
	padding-top:20px;
}
#mid-panel {
	top:70px;
	position:relative;
	min-height:500px;
}
#mid-panel a {
	color:#6D6D6D;
}

#top-panel {
	z-index:1000;
	font-family: Helvetica, Arial, sans-serif;
	text-align:center;
	height:36px;
	color: #71B2E2;
	background-color:#EEE;
	position:relative;
	width:100%;
	-webkit-box-shadow: 0 6px 6px -5px #ccc;
	   -moz-box-shadow: 0 6px 6px -5px #ccc;
	    -ms-box-shadow: 0 6px 6px -5px #ccc;
	 -khtml-box-shadow: 0 6px 6px -5px #ccc;
	     -o-box-shadow: 0 6px 6px -5px #ccc;
	   -moz-box-shadow: 0 6px 6px -5px #ccc;
	        box-shadow: 0 6px 6px -5px #ccc;
	border-bottom:1px solid #bbb;
	
}

#top-panel > div{
	display:inline-block;
}

#top-panel-right {
	display:inline-block;
	float:right;
	position:relative;
	right:0px;
}

#top-panel-right > div {
	display:inline-block;
}

#options-button i{
	font-size:40px;
	top:5px;
	left:-10px;
	position:relative;
}
#options {
	position:relative;
	top:0px;
	cursor:pointer;
}
#options-button {
	padding:2px 2px 1px 2px;
	border-left:1px solid #333;
}
#options:hover, .dropDown-OnSelect {
	background-color: #E9E9E9 !important;
	color:#777;
}


#login {
	position:relative;
	z-index:30;
	cursor: pointer;
}

.login-warning {
	color:red;
	display:none;
}

#login-tag {
	font-size:20px;
	padding: 9px 10px;
	white-space:nowrap;
	text-overflow: ellipsis;
	min-width:100px;
	max-width:150px;
	overflow:hidden;
}


.login-OnSelect {
	color:#777;
	background-color: #E9E9E9;
	border-left: 1px solid #ddd;
}

#login-box {
	margin-top:6px;
	display:none;
	position:absolute;
	z-index:1000;
	right:0px;
	background-color:whitesmoke;
	padding:10px 11px;
	color:black;
	border:1px solid #ccc;
}
.seperator {
	height:2px;
	width:100%;
	background-color:#ddd;	
	position:relative;
	margin:2px 0;
}

#logo {
	font-size: 20px;
	padding:8px 10px;
	cursor:pointer;
}

#nav {
	font-size:17px;
	position:relative;
	margin-left:0px !important;
	display:none;
}

#nav ul {
	list-style-type: none;
}

#nav ul li {
	float:left;
}
#nav a div {
	color: #71B2E2;
}
#nav div {
	padding:9px 10px;
	position:relative;
}

#nav.span6 {
	max-width:780px;
	width:auto!important;
}

#nav div:hover, #nav div.onSelect {
	color: #f1f2f3;
}
#nav #play div:hover, #nav #play div.onSelect, .tablet-play-btn div, .tablet-login-btn div {
	background-color: #71B2E2;
}

#nav #tutorial div:hover, #nav #tutorial div.onSelect, .tablet-tutorial-btn div, .tablet-settings-btn div {
	background-color: darkOrchid;
}
#nav #about div:hover, #nav #about div.onSelect, .tablet-about-btn div, .tablet-feedback-btn div, .tablet-history-btn div {
	background-color: green;
}
#nav #credits div:hover, #nav #credits div.onSelect, .tablet-credits-btn div {
	background-color: orange;
}

#nav #ranking div:hover, #nav #ranking div.onSelect, .tablet-ranking-btn div {
	background-color:#EF4136;
}

#nav #history div:hover, #nav #history div.onSelect {
	background-color: #71B2E2;
}
#nav #expert div:hover, #nav #expert div.onSelect, .tablet-expert-btn div {
	background-color: darkOrchid;
}

#menu {
	position:relative;
	width:100%;
	text-align:center;
}

.register-btn {
}
.register-btn-shift {
}

.email-holder {
	display:none;
}

.cancel-btn {
	display:none;
}

.wrapper {
	text-align:center;
	width:100%;
	position:relative;
}
	
.wrapper-overlay {
	text-align:center;
	position:absolute;
	width:100%;
}

#wrapper {
	height: auto !important;
	height:100%;
	min-height:100%;
	width: 100%;
	top: 0px;
}	

#mid-panel .wrapper iframe {
	position:relative;
	border:none;
    padding:50px 50px;
	background-color:white;
	box-shadow: 0 6px 6px -6px #CCC;
	-webkit-box-shadow: 0 6px 6px -6px #CCC;
	-moz-box-shadow: 0 6px 6px -6px #CCC;
	-o-box-shadow: 0 6px 6px -6px #CCC;
	-ms-box-shadow: 0 6px 6px -6px #CCC;
	-khtml-box-shadow: 0 6px 6px -6px #CCC;
}

.wrapper-inner {
	padding:50px 100px;
	background-color:white;
	text-align:left;
	width:600px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	box-shadow: 0 6px 6px -6px #CCC;
	-webkit-box-shadow: 0 6px 6px -6px #CCC;
	-moz-box-shadow: 0 6px 6px -6px #CCC;
	-o-box-shadow: 0 6px 6px -6px #CCC;
	-ms-box-shadow: 0 6px 6px -6px #CCC;
	-khtml-box-shadow: 0 6px 6px -6px #CCC;
}

.footer-inner {
	width:940px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	color: #6D6D6D;
}

/*
.footer-inner a.btn {
	color:white;
}
*/

/* .footer-inner a { */
#copyright a {
	color:#6D6D6D;
}

#footer, .push {
}

#footer a i.icon-github {
	position:relative;
	top:4px;
	margin-right:2px;
}

/* Disable footer for now */
#footer {
	position:relative;
	bottom: 0px;
	width:100%;
	clear:both;
	padding-top:10px;
	padding-bottom:10px;
}
#footer-content {
	height:100px;
	margin-left:auto;
	margin-right:auto;
	width:1024px;
	padding:20px 10px;
} 

#sponsor-tag {
	font-size:15px;
	font-weight:bold;
}
#sponsor-img {
	display:inline-block;
	width:300px;
	position:relative;
	padding-top:20px;
}
#sponsor-img > div.row {
	width:600px;
}

#sponsor-img .nokia{
	top:2px;
	position:relative;
}

.option-list {
	display:block;
	background-color:white;
	padding:5px 10px;
}

.option-list a {
	color: #333;
}
.option-list:hover {
	background-color: #08c;
	color: whitesmoke;
}

#logout:hover {
	background-color: #08c;
	color: whitesmoke;
}

#sandbox {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	text-align:left;
}

#copyright {
	font-size: 12:px;
}
td.contribute {
    width: 740px;
	font-size: 14px;	
	padding-top:5px;
	padding-bottom:5px;
}
td.contribute a {
	color:white;
}
td.social-link {
	width: 200px;
	padding-top:5px;
	padding-bottom:5px;
}

.list-shadow {
	box-shadow: 0px 1px 1px #6D6D6D;
	-webkit-box-shadow: 0px 1px 1px #6D6D6D;	
	-moz-box-shadow:0px 1px 1px #6D6D6D;
	-ms-box-shadow:0px 1px 1px #6D6D6D;
	-khtml-box-shadow:0px 1px 1px #6D6D6D;
	-o-box-shadow:0px 1px 1px #6D6D6D;
}

#option-list {
	color: #333;
	position:absolute;
	right: 0px;
	z-index:30;
	display:none;
}	
.language-list {
	text-align:center;
}

.language-list a {
	color: #333;
}

#language-list {
	display:none;
	position:absolute;		
	right: 78px;
	top: 0px;
	background-color: white;
	border-top:1px solid #ccc;
	box-shadow: 0 6px 6px -6px #CCC;
	-webkit-box-shadow: 0 6px 6px -6px #CCC;
	-moz-box-shadow: 0 6px 6px -6px #CCC;
	-o-box-shadow: 0 6px 6px -6px #CCC;
	-ms-box-shadow: 0 6px 6px -6px #CCC;
	-khtml-box-shadow: 0 6px 6px -6px #CCC;
}
.language-list a div{
	display:block !important;
	padding: 5px 10px;
}
.language-list a div:hover {
	background-color: #08C;
	color:whitesmoke;
}

.dropDownTriangle {
	display:none;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	position:absolute;
	top: 30px;
	z-index:29;
	left:7px;
}
.dropDown-OptionOnSelect, .dropDown-OptionOnSelect:hover {
	background-color:#08c;
	color:whitesmoke;
}

#dropDown-logo {
	position:absolute;
	left:0px;
	padding: 8px 10px;	
	font-size:20px;
	background-color:white;
	top:37px;
	z-index: 25;
	display:none;
}
#dropDown-logoTriangle {
	display:none;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	position:absolute;
	z-index:25px;
	top:30px;
	left: 70px;
}
#dropDown-logo:hover {
	background-color:#08c;
	color:whitesmoke;
}

/* warning */
.absolute {
	position:absolute;
}
.warning-wrapper{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:200px;
}
.warning {
	top:150px;
	width:200px;
	position:absolute;
	z-index:100;
	background-color:#f1f2f3;	
	color:#333;
	padding: 5px 10px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
	-o-border-radius:3px;
	-ms-border-radius:3px;
	border:1px solid #EF4136;
	display:none;
}
.warning-bg  {
	display:none;
	background-color:black;
	position:absolute;
	opacity:0.7;
	z-index:99;
}
.warning-ok {
	display:inline-block;
	margin-right:20px;
}
.warning-msg {
	padding:10px 15px;
	line-height:normal;
}
.warning-msg .icon-remove {
	font-size: 40px;
	left:-9px;
	position:relative;
	margin-top:5px;
	margin-bottom:10px;
}
.warning-msg a {
	color:red;
}
.warning-cancel {
	display:inline-block;
}
/* end of warning */

.showInLogin {
	display:none;
}
.showExpertOptions {
	display:none;
}

.settingUp {
	font-weight:bold;
	font-size:20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	color:#CCC;
}	

/* extra - for screen transition */
#loading-panel {
	padding-top:150px;
	text-align:center;
	min-height:300px;
}

#mid-panel {
	display:none;
	padding-bottom:10px;
}

/* overwrite boostrap */
.container {
	width:100% !important;
}	

/* Eleyine's fixes, will synchronize with previous css later */

/* HEADER CSS FIX */

#wrapper {
  padding-bottom:50px;
}


#top-panel-right {
    position:absolute;
    display:block;
    height:100%;
}

#top-panel-right > div {
   line-height:100%;
   float:left;
   height:100%;
   line-height:35px;
}

#options{
   width:80px;
}

#options-button{
   height:53px;
   padding-top:5px;
   border:0px;
}

#top-panel{
   background-color:white;
   line-height: 5px;
   float:right;
   top:0px;
   height:auto;
}
#logo {
   padding:20px;
   line-height: 16px;
}

#nav div{
   padding:20px;
   position:relative;
   float:right;
}

#nav a div, #top-panel {
   color: #6D6D6D;
}

/* BODY CSS */

#wrapper {
    position:relative;
    background: url(../img/bg-light.png) no-repeat center 60px;
    z-index:0;
    height:500px;
}

/* FOOTER */

footer {
	color: #6D6D6D !important;
	padding: 17px 0 5px 0;
	background-color:white;
	border-top: 1px solid #ddd;
}

footer a:link, footer a:visited, footer a:active  {
	font-size:15px;
    color: #aaa;
}

footer a:hover {
    color: black ;
}

#custom-follow-button {
    padding-top: 3px;
}


/* ADD-ON Tutorial */


h2.slide-caption {
    color: #EFEFEF;
}



