/* assume 1024 for tablets */
	#ancestorSeq {
		top:384px !important;
	}
	#bottomPanel {
		left: -200px;
	}
	
	.beta {
		display:inline-block !important;
		font-size:18px;
	}
	#wrapper {
		padding-bottom:0px !important;
	}
	#mid-panel {
		top: 0px !important;
	}

	body {
		background-image:none;
		background-color:#F1F1F1;
	}
	#top-panel {
		display:none;
	}	

	.forceDisplayNone {
		display:none !important
	}

	#tabletPanel {
		display:block;
		margin:3em 3em;
		color:#6D6D6D;
	}
	
	#tabletPanel, #tabletPanel div{
		line-height: normal;
	}

	.tablet-title {
		font-size: 6em;
		padding-bottom:0.2em;
	}	
	
	.tablet-grid {
		display:inline-block;
		font-size:4em;
	}

	.tablet-grid  > div {
		margin-bottom:0.1em;
		text-align:center;
	} 

	a.tablet-grid:hover {
		color:black;
	}
	
	.tablet-grid > div > div:last-child {
		font-size:0.7em;
	}	

	.tablet-grid i {
		display:inline-block;
		width:auto;
		height:auto;
		line-height:normal;
	}
	.tablet-play-btn div {
		position:relative;		
	}
	
	.tablet-play-btn i.icon-stop {
		top:0.17em;
		position:relative;
	}	
	i.tablet-style-stroke {
		position: absolute;
		width:3em;
		height:14px;
		color:#333;
		background-color: black;
		top:0.45em;
	}

	.tablet-tutorial-btn i, .tablet-about-btn i, .tablet-credits-btn i, .tablet-ranking-btn i, .tablet-login-btn i, .tablet-settings-btn i, .tablet-back-btn i, .tablet-feedback-btn i,.tablet-history-btn i {
		top:0.17em;
		position:relative;
	}
	.tablet-about-btn > div, .tablet-credits-btn > div, .tablet-ranking-btn > div, .tablet-login-btn > div , .tablet-tutorial-btn > div , .tablet-play-btn > div, .tablet-settings-btn > div, .tablet-feedback-btn > div, .tablet-history-btn> div {
		padding:0.8em 0.79em;
		width:4.4em;
	}
	

	/* back button */
	.tablet-back-btn {
		display:none;
	}
	.tablet-back-btn div {
		position:relative;
		display:inline-block;
		line-height:normal;	
		color:#08C;
	}
	.tablet-back-btn div div:last-child {
		font-size:50px;
	}
	
	.tablet-login-bg {
		display:none;
		background-color:black;
		position:absolute;
		opacity:0.8;
		z-index:99;
		top:-40px;
	}
	.tablet-login-wrapper {
		display:none;
		top:100px;
		z-index:201;
		text-align:center;
		width:242px;
		padding:20px 10px;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		background-color: #f1f1f1;
	}
	
	.tablet-login-cancel {
		top:10px;
		position:relative;
	}
