<div class='wrapper'>
	<div class='wrapper-inner'>
			<h2>{{credit.field 1}}</h2>
			<ul>
				<li><a href="mailto:jerome.waldispuhl@mcgill.ca">Jérôme Waldispühl</a></li>
                <li><a href="mailto:blanchem@mcb.mcgill.ca">Mathieu Blanchette</a></li>
			</ul>
			<h2>{{credit.field 8}}</h2>
			<ul>
				<li>Luis Sarmenta</li>
				<li><a href="mailto:david.becerra@mail.mcgill.ca">David Becerra</a></li>
			</ul>
			<h2>{{credit.field 2}}</h2>
			<ul>
				<li><a href="http://alfredkam.com">Alfred Kam</a> (<a href='https://twitter.com/alfredkam'>@alfredkam</a>)</li>
				<li><a href="mailto:daniel.kwak@mail.mcgill.ca">Daniel Kwak</a></li>
				<li><a href="mailto:adam.hops@mail.mcgill.ca">Adam Hops</a></li>
				<li><a href="mailto:eleyine.zarour@mail.mcgill.ca">Eleyine Zarour</a></li>
				<li><a href="mailto:qikuan.zhou@mail.mcgill.ca">Qikuan Zhou</a></li>
			</ul>
        
			<h2>{{credit.field 10}}</h2>
			<ul>
				<li>Alex Kawrykow ({{credit.field 3}})</li>
				<li>Gary Roumanis ({{credit.field 3}})</li>
                <li>Clarence Leung</li>
                <li>Chu Wu</li>
			</ul>

            <h2>{{credit.field 9}}</h2>
			<ul>
				<li>Badea Alexandru (Romanian/Română)</li>
				<li>Gustavo Hime &amp; Susana Pereira (Portuguese/Português)</li>
				<li>Erez Garty &amp; <a href="http://davidson.weizmann.ac.il/">The Davidson Institute of Science Education</a> (Hebrew/עברית)</li>
				<li>Efraín Martínez &amp; David Becerra (Spanish/Español)</li>
				<li>Li Chun Lin &amp; James Junzhi Wen (Traditional Chinese/正體中文)</li>
                <li>James Junzhi Wen  &amp; Dominic Zhang (Simplified Chinese/简体中文)</li>
                <li>Elena &amp; Valeria Nazarova (Russian/Pусский)</li>
			</ul>
        
            <h2>{{credit.field 11}}</h2>
            <ul>
                <li>Andrew Bogecho</li>
                <li>Ron Simpson</li>
            </ul>

        
			<h2>{{credit.field 4}}</h2>
			<ul>
                <li><a href="http://www.innovation.ca/">Canadian Foundation for Innovation</a></li>
				<li><a href="http://www.nserc-crsng.gc.ca/">Natural Sciences and Engineering Research Council of Canada</a></li>
				<li><a href="http://www.nokia.com/">Nokia</a></li>
				<li><a href="http://www.cs.mcgill.ca/">McGill School of Computer Science</a></li>
			</ul>
			<h2>{{credit.field 5}}</h2>
			<ul>
				<li><a href="http://www.facebook.com/group.php?gid=127713783941517">Facebook</a></li>
				<li><a href="https://plus.google.com/u/0/b/111453047184263548841/111453047184263548841/posts">Google+</a></li>
                <li><a href="https://twitter.com/phylo_game">Twitter</a></li>
                <li><a href="http://vk.com/club22581959">VK</a>
			</ul>
			<h2>{{credit.field 6}}</h2>
			<ul>
				<li>Xavier Garozzo / Jérôme Barel / Jérôme Waldispühl</li>
			</ul>
			<h2>{{credit.field 7}}</h2>
			<ul>
				<li>Katherine Gombay, Kailesh Mussai, William Raillant-Clark, James Shubin.</li>
			</ul>
	</div>
</div>
