<div id='inner-content'>
	<div class='tablet-tab-tag'>
		Language Options
	</div>
	<div id='langTab'>
		<a href='#!/EN/tablet:settings' name='EN'><div>English</div></a>
		<a href='#!/SP/tablet:settings' name='SP'><div>Español</div></a>
		<a href='#!/FR/tablet:settings' name='FR'><div>Français</div></a>
		<a href='#!/RU/tablet:settings' name='RU'><div>Pусский</div></a>
		<a href='#!/HE/tablet:settings' name='HE'><div>עברית</div></a>
		<a href='#!/RO/tablet:settings' name='RO'><div>Român</div></a>
		<a href='#!/PT/tablet:settings' name='PT'><div>Português</div></a>
		<a href='#!/CNS/tablet:settings' name='ZH-CN'><div>中文简体</div></a>
		<a href='#!/CNT/tablet:settings' name='ZH-HK'><div>中文繁體</div></a>
	</div>
</div>

<style>
	div#inner-content {
		line-height:normal !important;
		padding:0px 100px;
	}
	div#inner-content div.tablet-tab-tag {
		font-size: 40px;
		color: #6D6D6D;	
		margin-bottom:20px;
	}	
	div#inner-content div#langTab a{
		display:inline-block;
		position:relative;
	}
	div#inner-content div#langTab div {
		padding:20px 20px;
		font-size:30px;
		margin-right: 5px;
		margin-bottom:10px;
		border:1px solid #6d6d6d;
		background-color:white;
		line-height:40px;
	}
</style>


<script type='text/javascript'>
	$("#langTab a").click(function() {
		window.location.href = $(this).attr("href");
	});	
</script>
