<link rel="stylesheet" href="assets/css/customize.css"/>
<div id='hiddenCssComponents'></div>
<div class='musicOptions customize customize-bg'></div>
<div class='musicOptions customize customize-wrapper'>
    <div class='row customize-title m_customize'>
    </div>
    <div class='customize-tab'>
        <div class='row'>
            <a href='javascript:void(0)' class='customize-tab-onselect col-md-2 tag-theme m_theme'>Music</a>
            <!-- previous class tags: col-md-2 tag-music m_music -->
        </div>
    </div>
    <div class='customize-body'>
        <div class='container'>
            <div class="hide" id="muteBtn"></div>
            <div class='row'>
                <div class='customize-music'>
                   {{!  <div class='row customize-title'>
                        Current Music Theme 
                    </div> }}
                    <div class='row'>
                        <div class="col-md-4">
                        <h3>{{lang.options.music}}</h3>
                        {{! <input type="checkbox" id="customize-music">  }}
                        <a class="btn btn-default musicDisabled" href="#" id="customize-music">{{lang.options.music}}</a>
                        </div>
                        <div class="col-md-4">
                            <h3>{{lang.options.soundFX}}</h3>
                           
                             <a class="btn btn-default musicDisabled" href="#" role="button" id="customize-countdown">{{lang.options.countdown}}</a>
                             <br>
                             <a class="btn btn-default musicDisabled" href="#" role="button" id="customize-redraw">{{lang.options.redraw}}</a>
                             <br>
                             <a class="btn btn-default musicDisabled" href="#" role="button" id="customize-star">{{lang.options.star}}</a>
                             <br>
                             <a class="btn btn-default musicDisabled" href="#" role="button" id="customize-fxOthers">{{lang.options.others}}</a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class='customize-buttons'>
        <div class='row'>
            <a href='javascript:void(0)' class='customize-save btn btn-primary offset4 col-md-2 m_save'>
                {{lang.options.accept}}
            </a>
        </div>
    </div>
</div>