<style>
.highlighter-2 {
    box-shadow: inset 0px 0px 0px 4px {{backgroundColor}} !important;
    -ms-box-shadow: inset 0px 0px 0px 4px {{backgroundColor}} !important;
    -moz-box-shadow: inset 0px 0px 0px 4px {{backgroundColor}} !important;
    -webkit-box-shadow: inset 0px 0px 0px 4px {{backgroundColor}} !important;
    -o-box-shadow: inset 0px 0px 0px 4px {{backgroundColor}} !important;
    -khtml-box-shadow: inset 0px 0px 0px 4px {{backgroundColor}} !important;
}  

.bgCell {
    background: {{backgroundColor}} !important;
}

.nuc-A {
    background: {{A}} !important; 
}

.nuc-G {
    background :{{G}} !important;
}

.nuc-T {
    background : {{T}} !important;
}

.nuc-C {
    background: {{C}} !important;
}

</style>