<div id='tabletSettingUp' class='m_settingUp'>
    Setting Up. One moment please.  
</div>
<div id='tabletPanel'>
    <div class='tablet-title'> PHYLO | DNA Puzzles</div>
    <!-- <div class='tablet-title'> PHYLO | DNA Puzzles <span class='beta'>Beta UX</span></div> -->
    <div id='tablet-grid-2'>
        <!--<img src='img/loading.gif'/>-->
        <i class='icon-spin2 animate-spin'></i>
    </div>
    <div id='tablet-grid'>
        <a class='tablet-grid tablet-play-btn tablet-tab' href='javascript:void(0);' name='play'>
            <div>
                <div>
                    <i class='tablet-style-stroke'></i>
                    <i class='icon-stop-1'></i>
                    <i class='icon-stop-1'></i>
                    <i class='icon-stop-1'></i>
                </div>
                <div>{{header.field 1}}</div>
            </div>
        </a>
        <a class='tablet-grid tablet-tutorial-btn tablet-tab' href='javascript:void(0);' name='tutorial'>
            <div>
                <div>
                    <i class='icon-lamp-1'></i>
                </div>
                <div>{{header.field 2}}</div>
            </div>
        </a>
        <a class='tablet-grid tablet-about-btn tablet-tab' href='javascript:void(0);' name='about'>
            <div>
                <div>
                    <i class='icon-info-circle'></i>
                </div>
                <div>{{header.field 3}}</div>
            </div>
        </a>
        <a class='tablet-grid tablet-credits-btn tablet-tab' href='javascript:void(0);' name='credits'>
            <div>
                <div>
                    <i class='icon-beaker'></i>
                </div>
                <div>{{header.field 4}}</div>
            </div>
        </a>
        <a class='tablet-grid tablet-ranking-btn tablet-tab' href='javascript:void(0);' name='ranking'>
            <div>
                <div>
                    <i class='icon-trophy'></i>
                </div>
                <div>{{header.field 5}}</div>
            </div>
        </a>
        <!--
        <a class='tablet-grid tablet-login-btn tablet-login' href='javascript:void(0);' name='tablet:login'>
            <div>
                <div>
                    <i class='icon-chevron-right'></i>
                </div>
                <div>Login</div>
            </div>
        </a>
        -->
        <a class='tablet-grid tablet-settings-btn tablet-tab' href='javascript:void(0);' name='tablet:settings'>
            <div>
                <div>
                    <i class='icon-cog-alt'></i>
                </div>
                <div>{{header.field 17}}</div>
            </div>
        </a>
        <!--
        <a class='tablet-grid tablet-feedback-btn' href='javascript:void(0);' name='feedback'>
            <div>
                <div>
                    <i class='icon-comment'></i>
                </div>
                <div>Feedback</div>
            </div>
        </a>
        -->
        <a class='tablet-grid tablet-history-btn tablet-tab' href='javascript:void(0);' name='history'>
            <div class='showInLogin'>
                <div>
                    <i class='icon-book-1'></i>
                </div>
                <div>{{header.field 15}}</div>
            </div>
        </a>
    </div>
</div>
    <a class='tablet-grid tablet-back-btn' href='javascript:void(0);' name='back'>
        <div>
            <div>
                <i class='icon-left-circled'></i>
            </div>      
            <div class='m_back'>Back</div>  
        </div>
    </a>