<link rel="stylesheet" href="assets/css/tablet.css"/>
<a id="tabletBackBtn" href='#!/mobile/{{lang}}' name='back'>
    <div>
        <div>
            <i class='icon-left-circled'></i>
        </div>      
        <div class='m_back'>Back</div>  
    </div>
</a>