.DS_Store
.*.swp
.*.swo
*/.DS_Store
.*
github.php
merge.sh

js/.DS_Store

merge.sh

# ignore yii dir during table ranking dev 
htdocs/
framework/
protected/

js/bootstrap/bootstrap.min.js

js/bootstrap/bootstrap.js

lang/DE0.js
