##Vim###

.*.swp
.*.swo

##dist directory ##
dist

###Node###

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
mock/node_modules

###Eclipse###

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


###SublimeText###

# SublimeText project files
*.sublime-workspace
*.sublime-project

.DS_Store

*.pnm

assets/img/guide/guide-objective-tmp.png

assets/img/guide/guide-penalty-tmp.png

assets/img/guide/guide-stage-tmp.png

assets/img/guide/guide-tree-bad-tmp.png

assets/img/guide/guide-tree-good-tmp.png

assets/img/guide/src/240px-Yes_check.gif

assets/img/guide/src/Chess_tile_xr.svg

assets/img/guide/src/Mouse_pointer.svg

assets/img/guide/src/guide-objective-tmp2.png

assets/img/guide/src/guide-objective-tmp.png

assets/img/guide/src/guide-penalty-tmp.png

assets/img/guide/src/guide-objective-tmp2.xcf

assets/img/guide/src/guide-stage-tmp.png

assets/img/guide/src/guide-stage-tmp2.png

assets/img/guide/src/guide-penalty-tmp2.png

assets/img/guide/src/guide-stage-tmp2.xcf

assets/img/guide/src/guide-tree-bad-tmp.png

assets/img/guide/src/guide-tree-good-tmp.png

assets/img/guide/src/guide-tree-tmp2.png

assets/img/guide/src/guide-tree-tmp2.xcf

assets/img/guide/src/guide-tree-tmp3.png

assets/img/guide/src/guide-tree-tmp3.xcf

assets/img/guide/src/memo-tmp.png

assets/img/guide/src/memo-tmp2.png

assets/img/guide/src/memo-tmp2.xcf
