<div class='wrapper'>
    <div class='footer-inner'>
        <table>
        <tr>
        <td class='contribute'>
            <a class='btn btn-info btn-xs' href='#!/contribute' id='m_contribute'>Contribute</a>&nbsp;
           <a class='btn btn-warning btn-xs' href='https://github.com/McGill-CSB/PHYLO/issues' id='m_feedback'>Report a bug</a>&nbsp;
            {{#body.footer.field 3}}
                <a class='btn btn-primary btn-xs' href='http://blogs.cs.mcgill.ca/phylo/'>{{body.footer.field 3}}</a>
            {{/body.footer.field 3}}
            {{#body.footer.field 4}}
                <a class='btn btn-primary btn-xs' href='http://phylo.cs.mcgill.ca/forums'>{{body.footer.field 4}}</a>
            {{/body.footer.field 4}}
            <!-- <a href='https://github.com/McGill-CSB/PHYLO' class='btn btn-inverse' id='m_github'><i class='icon-github'></i>View On GitHub</a>&nbsp; -->
            <!-- <a href='http://phylo.cs.mcgill.ca/archive/2010/' class='btn btn-inverse' id='m_classic'>Classic</a> -->
        </td>
        <td class='social-link'>
            <table>
                <tr>
                    <td>
                        <div class="fb-like" data-href="http://phylo.cs.mcgill.ca" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
                    </td>
                    <td>
                        <div id="custom-follow-button">
                            <a href="https://twitter.com/phylo_game" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @phylo_game</a>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        </tr>
        </table>
    <div id='copyright' class='footer-inner'>
         &#169; <a href='http://www.mcgill.ca'>McGill University</a>, 2010-{{year}}
    </div>  
    </div>
</div>