<style>
    h1 {
        color: #444;
    }
    p {
        color: #4A4A4A;
    }
</style>

<div class='wrapper'>

    <div class='wrapper-inner'>
        
        <h1>{{body.play.about.field 1}}</h1>
        <p>{{body.play.about.field 2}}</p>
        
        <h1>{{body.play.about.field 3}}</h1>
        <p>{{body.play.about.field 4}}</p>

        <h1>{{body.play.about.field 5}}</h1>
        <p>{{body.play.about.field 6}}</p>
        
        <h1>{{body.play.about.field 7}}</h1>
        <p>{{body.play.about.field 8}}</p>
        
        <h1>{{body.play.about.field 9}}</h1>
        <p>
            {{body.play.about.field 10}}<br/>
            <a href="http://en.wikipedia.org/wiki/Multiple_sequence_alignment">{{body.play.about.field 11}}</a>
        </p>
        
        <h1>{{body.play.about.field 12}}</h1>
        <ul>
            <li>
                Kawrykow A, Roumanis G, Kam A, Kwak D, Leung C, Wu C, Zarour E, Phylo Players, Sarmenta L, Blanchette M, Waldisp&uuml;hl J (2012) <a href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0031362">Phylo: A Citizen Science Approach for Improving Multiple Sequence Alignment</a>. PLoS ONE 7(3): e31362. <a href="http://dx.doi.org/10.1371/journal.pone.0031362">doi:10.1371/journal.pone.0031362</a>
            </li>
            <li>
                Kwak D, Kam A, Becerra D, Zhou Q, Hops A, Zarour A, Kam A, Sarmenta L, Blanchette M, Waldisp&uuml;hl J (2013) <a href="http://genomebiology.com/2013/14/10/R116/abstract">Open-Phylo: a customizable crowd-computing platform for multiple sequence alignment</a>. Genome Biology, 14:R116. <a href="http://dx.doi.org/10.1186/gb-2013-14-10-r116">doi:10.1186/gb-2013-14-10-r116</a>
            </li>
        </ul>
        
        <h1>{{body.play.about.field 13}}</h1>
        <ul>
            <li><a href="http://www.theworld.org/2012/04/gamers-genomics-crowdsourcing-dna-research-using-phylo/">PRI's World</a></li>
            <li><a href="http://www.youtube.com/watch?v=TZVCEQWBoCk">CUSP conference</a></li>
            <li><a href="http://www.cbc.ca/news/technology/story/2010/12/01/video-game-genetics-phylo.html">CBC</a>
            <li><a href="http://www.fastcompany.com/1706738/how-computer-game-crowdsources-genetic-research">Fast Company</a></li>
            <li><a href="http://www.wired.com/wiredscience/2010/11/phylo-game/">Wired</a></li>
        </ul>
        
    </div>

</div>
