<div class='wrapper'>
<div class='wrapper-inner'>
    <div class="bs-docs-example">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                
                <!-- Basics -->
                
                <div class="item active">
                    <img src="img/tutorial/slide-logo.png" alt=""/>
                        <div class="carousel-caption">
                            <h2 class="slide-caption"><div id="basics1"></div></h2>
                        </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics2.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics2"></div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics3.png" alt=""/>
                        <div class="carousel-caption">
                            <h4><div id="basics3"></div></h4>
                        </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics4.png" alt=""/>
                        <div class="carousel-caption">
                            <h4><div id="basics4"></div></h4>
                        </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics5.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics5"></div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics6.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics6"></div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics7.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics7"></div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics8.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics8"></div></h4>
                    </div>
                </div>
                
                <!-- Scoring -->
                
                <div class="item">
                    <img src="img/tutorial/slide-logo.png" alt=""/>
                    <div class="carousel-caption">
                        <h2 class="slide-caption"><div id="scoring1"></div></h2>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-scoring2.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="scoring2"></div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-scoring3.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="scoring3"></div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-scoring4.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="scoring4"></div></h4>
                    </div>
                </div>
            
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
</div>
    <script type="text/javascript">
	require(['bootstrap','tutorial/EN-tutorial'],function() {
            $('.carousel').carousel({
                interval: false
            });
	});
    </script>
