/* global */
@font-face {
    font-family: 'helveticathin';
    src: url('../../../assets/css/fonts/helveticaneueltstd-th-helv.eot');
    src: url('../../../assets/css/fonts/helveticaneueltstd-th-helv.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/css/fonts/helveticaneueltstd-th-helv.woff') format('woff'),
         url('../../../assets/css/fonts/helveticaneueltstd-th-helv.ttf') format('truetype'),
         url('../../../assets/css/fonts/helveticaneueltstd-th-helv.svg#HelveticaNeueLTStd35Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background : rgb(235, 235, 235) !important;
}
a {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
a:link, a:visited, a:active {
    text-decoration: none;
    /* color:#333; */
}
#appBackground {
   background: url('../../../assets/img/phylo-bg-4.svg') top left repeat;
   height:100%;
   width:100%;
   position:fixed;
   opacity: 0.05;
   top:0;
   left:0; 
   z-index:-1;
}
/* nav */
.logo h3 {
    font-family:Helvetica, Arial, sans-serif;
    color:rgb(109, 109, 109);
    top:7px;
    font-size:17px;
    font-weight: normal;
    position: relative;
}
.navbar-inner {
    background:#fff;
    width:100%;
        -webkit-box-shadow: 0 6px 6px -5px #ccc;
           -moz-box-shadow: 0 6px 6px -5px #ccc;
            -ms-box-shadow: 0 6px 6px -5px #ccc;
         -khtml-box-shadow: 0 6px 6px -5px #ccc;
             -o-box-shadow: 0 6px 6px -5px #ccc;
           -moz-box-shadow: 0 6px 6px -5px #ccc;
                box-shadow: 0 6px 6px -5px #ccc;
    border-bottom:1px solid #bbb;
}

.navbar-inner {
    color:rgb(109, 109, 109);
}

.nav a, .nav i {
    color:rgb(109, 109, 109);
}

.nav li a {
    line-height: 35px !important;
    font-size:16px;
    padding-left:20px !important;
    padding-right:20px !important;
}

#menu-home a:hover, #menu-home.active a{
    background-color: orange;
}

#menu-play a:hover, #menu-play.active a{
    background-color:#71B2E2;
}
#menu-history a:hover, #menu-history.active a {
    background-color:#EF4136;
}
#menu-about a:hover, #menu-about.active a {
    background-color:green;
}

.caret {
    border-top:6px solid #000 !important;
    border-left:6px solid transparent !important;
    border-right:6px solid transparent !important;
    border-top-color : #4a4a4a !important;
    border-bottom-color:#4a4a4a !important;
    margin-top:13px !important;
}
/* body */
#inner-wrapper {
    background:#FFF;
    color:#444;
    padding:20px 20px;
    border-radius:5px;
    width:100%;
}

#inner-wrapper h1, #inner-wrapper h3, b {
    color:#444;
}
#inner-wrapper li, #inner-wrapper p, #inner-wrapper label, #inner-wrapper td, .dataTables_info {
    color:#4A4A4A;
}
table#stats tbody * {
    color:#4A4A4A !important;
}
#inner-wrapper a {
    color : #428bca;
    text-decoration: none;
}
#inner-wrapper a:hover, #inner-wrapper a:focus {
    color:#2a6496;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
#inner-wrapper td {
    background-color:white;
}

/*css tablet fix */
#page .container {
    width:100%;
    max-width:940px;
}
#page table {
    width:100%;
}
.dataTables_wrapper .span6 {
    width:48%;
    margin-left:2%;
}