<link rel="stylesheet" href="assets/css/tabletSettings.css"/>
<div class='wrapper'>
    <div class='container'>
        <div class='col-12 col-lg-12 col-sm-12'>
            <h2>Language Options</h2>
        </div>
        <div class='col-12 col-lg-12 col-sm-12' id='langList'>
            <a href='#!/mobile/EN/settings' name='EN'><div>English</div></a>
            <a href='#!/mobile/SP/settings' name='SP'><div>Español</div></a>
            <a href='#!/mobile/FR/settings' name='FR'><div>Français</div></a>
            <a href='#!/mobile/DE/settings' name='DE'><div>Deutsch</div></a>
            <a href='#!/mobile/RU/settings' name='RU'><div>Pусский</div></a>
            <a href='#!/mobile/ZH-HK/settings' name='ZH-HK'><div>中文繁體</div></a>
            <a href='#!/mobile/ZH-CN/settings' name='ZH-CN'><div>中文简体</div></a>
            <a href='#!/mobile/KO/settings' name='KO'><div>한국어</div></a>
            <a href='#!/mobile/HE/settings' name='HE'><div>עברית</div></a>
            <a href='#!/mobile/RO/settings' name='RO'><div>Română</div></a>
            <a href='#!/mobile/PT/settings' name='PT'><div>Português</div></a>
        </div>
    </div>
</div>