<div class="row">
<div class="span12">
<select id="changeDemo">
<option value='flot'>flot</option>
<option selected value='TestInputsView'>page1</option>
<option value='page2'>page2</option>
</select>
</div>
<div id="sampleRegion" class="span12">
</div>
</div>
