<div>
<h2>demo for inputs</h2>
what is your name <input value='{{name}}'type='text' name="name">
<br>
<label class="radio">
  <input type="radio" name="gender" value="male" checked>
  male
</label>
<label class="radio">
  <input type="radio" name="gender" value="female">
  female
</label>

<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
</div>
