.customize-wrapper .row {
    margin:0px;
}

.customize-body {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.m_theme {
    border-top-left-radius:3px;
    border-top-right-radius :3px;
}