#logo a {
    color: rgb(109, 109, 109);
}

#logo a:hover {
    color: rgb(113, 178, 226);
}

#login-box {
    font-size:12px;
}

#login-box .row {
    margin:8px 0px;
}

.zocial {
    background-image: none;
    margin:0;
}

#login:hover, .login-onSelect {
    background-color:rgb(245, 245, 245);
}
/*
#login:hover #login-box {
    display:block;
}*/

#options .icon-cog {
    left: 7px;
}

@media(max-width:1180px) {
    #options .icon-cog {
        top:5px;
    }
}

#language:hover #language-list {
    display:block;
}

#options:hover #option-list {
    display:block;
    top:7px;
    position:relative;
}

