#logo a {
    color: rgb(109, 109, 109);
}

#logo a:hover {
    color: rgb(113, 178, 226);
}

#login-box {
    font-size:12px;
}

#login-box .row {
    margin:8px 0px;
}

.zocial {
    background-image: none;
    margin:0;
}

#login:hover, .login-onSelect {
    background-color:rgb(245, 245, 245);
}
/*
#login:hover #login-box {
    display:block;
}*/

#nav li a div{
    line-height: 16px;
}

#options .icon-cog {
    left: 7px;
    top:3px;
}

#language-tag i.icon-language {
    top:3px;
    left:0px;
}

@media(max-width:1180px) {
    #options .icon-cog {
        top:5px;
    }
}

#language:hover #language-list {
    display:block;
}

#options:hover #option-list {
    display:block;
    top:7px;
    position:relative;
}
@media(max-width:1200px) {
    .container {
        max-width: none;
    }
}

@media(max-width:768px) {
    #logo {
        width:25%;
        display:inline-block;
        float:left;
    }
    #nav {
        width:75%;
        left:0px;
        display:inherit;
    }
}
