#bottomPanel {
	/*left: 0px !important;*/
	/*position:absolute;*/
    position:relative;
    top:10px !important;
    left:-240px !important;
}

#controlPanel {
    left:1100px !important;
    top:-45px !important;
}

#ancestorSeq-filling {
    top:20px;
}

i.tablet-style-stroke { 
	left: 20px;
}
