/* Back button */
#tabletBackBtn div {
	display:inline-block;
	font-size:30px;
}

#tabletBackBtn > div{
	padding-top:20px;
	padding-left: 20px;
}

#tabletBackBtn {
    position: absolute;
    top:-8px;
    z-index:999;
}

#login {
    float:right;
    background-color:rgb(200,94,54);
    color:white;
}

/* now the rest */