<div id='mid-panel' style='display:block; top:0px;'>
    <div id='ranking-wrapper'>
        <div id='ranking-body'>
            <div id='loading-panel'>
                <img src='assets/img/loading.gif'/>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <img class="startable" src="assets/img/1star.png"><img class="startable" src="assets/img/1star.png"><img class="startable" src="assets/img/1star.png">
                </td>
                <td>: {{body.play.ranking.field 11}} </td>
            </tr>
            <tr>
                <td>
                    <img class="startable" src="assets/img/1star.png"><img class="startable" src="assets/img/1star.png">
                </td>
                <td>: {{body.play.ranking.field 10}}</td>
            </tr>
            <tr>
                <td>
                    <img class="startable" src="assets/img/1star.png">
                </td>
                <td>: {{body.play.ranking.field 9}}</td>
            </tr>
        </table>
    </div>
</div>