<div class='wrapper'>

	<div class='wrapper-inner'>
		
        <h1>{{about.field 1}}</h1>
		<p>{{about.field 2}}</p>
		
        <h1>{{about.field 3}}</h1>
		<p>{{about.field 4}}</p>

		<h1>{{about.field 5}}</h1>
		<p>{{about.field 6}}</p>
        
		<h1>{{about.field 7}}</h1>
		<p>{{about.field 8}}</p>
        
		<h1>{{about.field 9}}</h1>
		<p>
            {{about.field 10}}<br/>
            <a href="http://en.wikipedia.org/wiki/Multiple_sequence_alignment">{{about.field 11}}</a>
        </p>
        
        <h1>{{about.field 12}}</h1>
        <p>
            <a href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0031362">
                Kawrykow A, Roumanis G, Kam A, Kwak D, Leung C, Wu C, Zarour E, Phylo Players, Sarmenta L, Blanchette M, Waldisp&uuml;hl J (2012)<br/>
                Phylo: A Citizen Science Approach for Improving Multiple Sequence Alignment.<br/>
                PLoS ONE 7(3): e31362. doi:10.1371/journal.pone.0031362
            </a>
        </p>
        
        <h1>{{about.field 13}}</h1>
        <ul>
            <li><a href="http://www.theworld.org/2012/04/gamers-genomics-crowdsourcing-dna-research-using-phylo/">PRI's World</a></li>
            <li><a href="http://www.youtube.com/watch?v=TZVCEQWBoCk">CUSP conference</a></li>
            <li><a href="http://www.cbc.ca/news/technology/story/2010/12/01/video-game-genetics-phylo.html">CBC</a>
            <li><a href="http://www.fastcompany.com/1706738/how-computer-game-crowdsources-genetic-research">Fast Company</a></li>
            <li><a href="http://www.wired.com/wiredscience/2010/11/phylo-game/">Wired</a></li>
        </ul>
        
	</div>

</div>
