		<div id='menu'>
			<div id='sandbox'>
			</div>
			<input id='level_inputbox'/>
		</div>
		<div class='wrapper'>
			<div id='game'>
				<canvas id='score' width="827" height="50"></canvas>
				<div id='selectBox'></div>
				<div id='tree'>

				</div>
				<div id='gameBoard'>
					<img src='img/loading.gif'/>
				</div>
				<div id='splash'>
				</div>
				<div id='countDown'>
					<div id='countDown-text'>
					</div>	
				</div>
				<div id='ancestorSeq'>

				</div>
				<div id='bottomPanel'>
					<div id='volumePanel'>
						<div id='musicPlayerSpot'></div>
						<div id='volumeOn'>
						<!--	<img src='img/speaker_off.png'/>
						-->
							<i class='icon-volume-up'></i>
						</div>
						<div id='volumeOff'>
							<i class='icon-volume-off'></i>
							<!--<img src='img/speaker_on.png'/>
							-->
						</div>
					</div>
					<div id='runaway' class='icon-signout'></div>
					<div id='timerPanel'>
						<canvas id='timer' width='66px' height='66px'>
						</canvas>	
					</div>
					<div id='scorePanel'>
						<div id='userScore'>
						</div>
						<div id='bestScore'>
						</div>
						<div id='parScore'>
						</div>
					</div>
					<div id='statsPanel'>
						
					</div>
					<div id='controlPanel'>
						<div id='star'>
							<i class='icon-star'></i>
						</div>
						<div id='cycle'>
							<img src='img/cycle.png'/>
						</div>
					</div>
				</div>
					
				<div id='dump'>

				</div>
				<div id='endGame'>
					<div id='endGame-bg'>
						<div id='endGame-content'>
							<div id='endGame-score'>
								<div id='endGame-score-tag'>
									Score
								</div>
								<div id='endGame-score-result'>
								</div>
							</div>
							<div id='endGame-text'>	
													
							</div>
							<div id='endGame-learnMore'>
								<div id='endGame-learnMore-tag'>
									<button class=' btn btn-info'>Learn More</button>	
								</div>
								<div id='endGame-learnMore-content'>
								</div>	
							</div>
							<div class='wrapper'>
								<div id='endGame-new'>
									<button class='btn btn-primary'>
										New Game
									</button>
								</div>
								<div id='endGame-replay'>
									<button class='btn btn-primary'>
										Replay Game
									</button>
								</div>
								<div id='endGame-share'>
									<button class='btn btn-success'>
										Share with your friends
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			require(['RNA/main.rna'],function() {
				var fn = function() {
					if($.main == undefined) { 
						window.setTimeout(function() { fn() },100);
					} else {
						$.rna.init();	
					}
				}	
				fn();
			});
		</script>
