
<div class='wrapper'>
<div class='wrapper-inner'>
    <div class="bs-docs-example">
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                
                <!-- Basics -->
                
                <div class="item active">
                    <img src="img/tutorial/slide-logo.png" alt=""/>
                        <div class="carousel-caption">
                            <h2 class="slide-caption"><div id="basics1">{{tutorial.basics.1}}</div></h2>
                        </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics2.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics2">{{tutorial.basics.2}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics3.png" alt=""/>
                        <div class="carousel-caption">
                            <h4><div id="basics3">{{tutorial.basics.3}}</div></h4>
                        </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics4.png" alt=""/>
                        <div class="carousel-caption">
                            <h4><div id="basics4">{{tutorial.basics.4}}</div></h4>
                        </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics5.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics5">{{tutorial.basics.5}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics6.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics6">{{tutorial.basics.6}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics7.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics7">{{tutorial.basics.7}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-basics8.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="basics8">{{tutorial.basics.8}}</div></h4>
                    </div>
                </div>
                
                <!-- Scoring -->
                
                <div class="item">
                    <img src="img/tutorial/slide-logo.png" alt=""/>
                    <div class="carousel-caption">
                        <h2 class="slide-caption"><div id="scoring1">{{tutorial.scoring.1}}</div></h2>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-scoring2.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="scoring2">{{tutorial.scoring.2}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-scoring3.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="scoring3">{{tutorial.scoring.3}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-scoring4.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="scoring4">{{tutorial.scoring.4}}</div></h4>
                    </div>
                </div>

                <!-- Example -->
                <!--
                <div class="item">
                    <img src="img/tutorial/slide-logo.png" alt=""/>
                    <div class="carousel-caption">
                        <h2 class="slide-caption"><div id="example1">{{tutorial.example.1}}</div></h2>
                    </div>
                </div>                
                <div class="item">
                    <img src="img/tutorial/slide-example2.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example2">{{tutorial.example.2}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example3.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example3">{{tutorial.example.3}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example4.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example4">{{tutorial.example.4}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example5.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example5">{{tutorial.example.5}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example6.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example6">{{tutorial.example.6}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example7.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example7">{{tutorial.example.7}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example8.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example8">{{tutorial.example.8}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example9.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example9">{{tutorial.example.9}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example10.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example10">{{tutorial.example.10}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-example11.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example11">{{tutorial.example.11}}</div></h4>
                    </div>
                </div>
                <div class="item">
                    <img src="img/tutorial/slide-logo-end.png" alt=""/>
                    <div class="carousel-caption">
                        <h4><div id="example12">{{tutorial.example.12}}</div></h4>
                    </div>
                </div>
		-->
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: false
        });
    });
</script>
