<div class='wrapper'>
    <div class='footer-inner'>
        <table>
        <tr>
        <td class='contribute'>
            <a href='#!/contribute' id='m_contribute'>{{header.field 13}}</a>
            {{#body.footer.field 5}}
            <a href='https://github.com/McGill-CSB/PHYLO/issues' id='m_feedback'>{{body.footer.field 5}}</a>
            {{/body.footer.field 5}}
            {{#body.footer.field 3}}
                <a class='{{! btn btn-primary btn-xs }}' href='http://blogs.cs.mcgill.ca/phylo/'>{{body.footer.field 3}}</a>
            {{/body.footer.field 3}}
            {{#body.footer.field 4}}
                <a href='http://phylo.cs.mcgill.ca/forums'>{{body.footer.field 4}}</a>
            {{/body.footer.field 4}}
            <a href='#!/{{lang}}/Credits'>{{header.field 4}}</a>
            <a href='http://phylo.cs.mcgill.ca/submit/'>Open Phylo</a>
        </td>
        </tr>
        </table>
    <div id='copyright' class='footer-inner'>
         &#169; <a href='http://www.mcgill.ca'>McGill University</a>, 2010-{{year}}
    </div>  
    </div>
</div>