<label class='footer-title'>{{totalPuzzles}}</label>
<div id='numberofpuzzle'>
    {{number}}
</div>
<label class='footer-title'>{{recentSubmit}}</label>
<div id='recentSubmitList'>
    <table>
        <tr>
            <th>User</th><th>Puzzle ID</th><th>Disease</th>
        </tr>
    {{#last}}
    <tr>
        <td>{{user}}</td><td><a href='#!/{{lang}}/Play/Puzzle/{{PuzzleID}}'>{{PuzzleID}}</a></td><td>{{diseaseName}}</td>
    </tr>
    {{/last}}
    </table>
</div>
