<label class='footer-title'>{{totalPuzzles}}</label>
<div>
    {{total}}
</div>
<label class='footer-title'>{{recentSubmit}}</label>
{{#last}}
<div>
    {{user}} - {{PuzzleID}} - {{diseaseCategory}}
</div>
{{/last}}
