<div>
    <a href='https://www.mcgill.ca/newsroom/node/19281/'>
        Sharing the power of the crowd [McGill News]
    </a>
</div>
<div>
    <a href='http://www.biomedcentral.com/biome/open-phylo-open-science-and-the-multiple-sequence-alignment-problem/'>
        Open-Phylo, Open Science and the multiple sequence alignment problem [Biome]
    </a>
</div>
<div>
    <a href='http://www.theglobeandmail.com/report-on-business/economy/canada-competes/a-canadian-computer-game-that-lets-anyone-contribute-to-scientific-research/article14589102/'>A Canadian computer game that lets anyone contribute to scientific research [Globe & Mail]
    </a>
</div>
