<div>
    <a href='http://scienceline.org/2013/11/are-those-genes-in-my-tetris/'>Are those genes in my Tetris? [Scienceline]
    </a>
</div>
<div>
    <a href='http://www.biomedcentral.com/biome/open-phylo-open-science-and-the-multiple-sequence-alignment-problem/'>
        Open-Phylo, Open Science and the multiple sequence alignment problem [Biome]
    </a>
</div>
<div>
    <a href='http://www.theglobeandmail.com/report-on-business/economy/canada-competes/a-canadian-computer-game-that-lets-anyone-contribute-to-scientific-research/article14589102/'>A Canadian computer game that lets anyone contribute to scientific research [Globe & Mail]
    </a>
</div>
