<div>
    <a href='http://www.theglobeandmail.com/report-on-business/economy/canada-competes/a-canadian-computer-game-that-lets-anyone-contribute-to-scientific-research/article14589102/'>A Canadian computer game that lets anyone contribute to scientific research [Globe & Mail]
    </a>
</div>
<div>
    <a href='http://www.nature.com/news/gamers-outdo-computers-at-matching-up-disease-genes-1.10203'>Gamers outdo computers at matching up disease genes [Nature]
    </a>
</div>
<div>
    <a href='http://pri.org/stories/2012-04-19/gamers-genomics-crowdsourcing-dna-research'>Gamers & Genomics: Crowdsourcing DNA Research [PRI]
    </a>
+</div>